IO_LOC "h1" 8;
IO_PORT "h1" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3 PULL_MODE=DOWN;

IO_LOC "h2" 41;
IO_PORT "h2" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3 PULL_MODE=DOWN;

IO_LOC "h3" 44;
IO_PORT "h3" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3 PULL_MODE=DOWN;

IO_LOC "gla" 10;
IO_PORT "gla" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "glb" 39;
IO_PORT "glb" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;


IO_LOC "glc" 40;
IO_PORT "glc" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "gha" 46;
IO_PORT "gha" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "ghb" 43;
IO_PORT "ghb" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "ghc" 42;
IO_PORT "ghc" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "rst_n" 20;  
IO_PORT "rst_n" PULL_MODE=UP;

IO_LOC "clk" 45;  
IO_PORT "clk" IO_TYPE=LVCMOS33;